// Defining the variables for reuse
$font-family: "muli", sans-serif;
// $main-bg-color: #f7f8fc;
$main-bg-color: pink;
$sidebar-bg-color: #363740;
$highlight-bg-color: #9fa2b419;
$light-gray: #A4A6B3;
$blue-color: #3751FF;
$light-blue: #dfe0eb27;
$sidebar-item-color: #DDE2FF;
$padding-header: 35px;
$gap-icons: 20px;

// fonts
$font-h1: 24px;
$font-h2: 19px;
$font-h3: 16px;
$font-h4: 14px;
$font-h5: 12px;

// Main body
main {
  width: 100vw;
  // I added 100vh because i can see when im working on it
  height: 100vh;
  font-family: $font-family;
  display: flex;
  background-color: $main-bg-color;
}

// Sidebar
.sidebar-desktop {
  width: 255px;
  height: 100vh;
  background-color: $sidebar-bg-color;
}

// Title
.title_D {
  font-weight: 700;
  font-style: bold;
  font-size: $font-h2;
  color: $light-gray;
  position: absolute;
  top: 40px;
  left: 76px;
}

// Sidebar list
.sidebar-list {
  font-weight: 400;
  font-style: normal;
  font-size: $font-h3;
  color: $sidebar-item-color;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 200px;

  // list sidebar
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 255px;
    height: 56px;
    left: 72px;
    top: 128px;

    #active {
      background: $highlight-bg-color; // Highlighted item
    }

    .li_img {
      width: 16px;
      margin-left: 32px;
      margin-right: 20px;
    }
  }

  // Line separation list sidebar
  #div_R {
    background-color: $light-blue;
    width: 100%;
    height: 1px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
}



// main page excluding sidebar
.main-page {
  // calc page without the sidebar size
  width: 100%;
  height: 100vh;
  background-color: $main-bg-color;
  display: flex;


  // Sub Header main page
  .header-default {
    // header - sidebar size
    width: calc(100% - 255px);
    position: fixed;
    padding: $padding-header;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  // overview title
  .title_1 {
    font-weight: 700;
    font-size: $font-h1;
    color: #252733;
  }

  // second part of subheaer, icons and profile
  .subheader-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap-icons;

    // profile part
    .photo {
      width: 40px;
      height: 40px;
    }
    .name {
      font-size: $font-h4;
    }
  }

  // Section cards
  




}